* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.big-box {
    width: 30vw;
    height: 30vw;
    border-radius: 50px;
    position: relative;
    margin: 5vw 0;
    box-shadow: 5px 5px 30px 5px rgb(255, 100, 100),
                -5px -5px 30px 5px rgb(255, 100, 100);
}

.inner-box {
    width: 28%;
    height: 28%;
    font-size: 3rem
}

.mid-lines {
    position: absolute;
    z-index: 5;
    margin: 0 auto;
    background-color: black;
    border-radius: 30%;
}

.mid-lines-vertical {
    width: 5px;
    height: 90%;
}

.mid-lines-horizontal {
    width: 90%;
    height: 5px;
}

.big-box .mid-lines:nth-child(1) {
    top: 33%;
}
.big-box .mid-lines:nth-child(2) {
    bottom: 33%;
}
.big-box .mid-lines:nth-child(3) {
    left: 33%;
}
.big-box .mid-lines:nth-child(4) {
    right: 33%;
}

.bi-x-lg {
    color: red;
}

.bi-circle {
    color: blue;
}

.game-controls {
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 4vw;
}

.result {
    width: 100%;
    height: 13vw;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.result .result-line {
    background-color: black;
    position: absolute;
    margin: 0 auto;
    border-radius: 50%;
}

.result .result-horizontal-line {
    width: 100%;
    height: 4px;
    top: 50%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.result .result-vertical-line {
    width: 4px;
    height: 100%;
    left: 35%;
}

.result .player1, .result .player2 {
    font-size: 2rem;
    padding-right: 15px;
}

.result .player1_result, .result .player2_result {
    font-size: 2rem;
    padding-right: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}


.winner-draw-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    position: absolute;
    width: 5vw;
    height: 5vh;
    background-color: rgb(104, 245, 255);
    box-shadow: 5px 5px 30px 5px rgb(168, 168, 168),
                -5px -5px 30px 5px rgb(168, 168, 168);
    top: 47.5vh;
    left: 47.5vw;
    z-index: 1000;
    opacity: 0;
}

@keyframes display-popup {
    0% {
        opacity: 0;
        width: 5vw;
        height: 5vh;
        top: 47.5vh;
        left: 47.5vw;
    }
    100% {
        opacity: 0.8;
        width: 70vw;
        height: 70vh;
        top: 15vh;
        left: 15vw;
    }
}

.winner-draw-popup .winner-draw-text {
    letter-spacing: 1px;
    font-size: 0.2rem;
    word-spacing: 3px;
}

@keyframes increase-font-size {
    0% {
        font-size: 0.2rem;
    }
    100% {
        font-size: 2rem;
    }
}

.winner-draw-popup .popup-remove-button {
    background-color: aliceblue;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0),
                -1px -1px 1px 1px rgb(0, 0, 0);
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
    z-index: 50;
}